@model mcptouch.Models.Maintenance

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Maintenance</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Car.Nickname)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Car.Nickname)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Job.JobDescr)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Job.JobDescr)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Mileage)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Mileage)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Date)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Date)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Cost)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Cost)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.MileageDueNext)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MileageDueNext)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DateDueNext)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DateDueNext)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Comments)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Comments)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.WarningEmailSent)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.WarningEmailSent)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.OverdueEmailSent)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.OverdueEmailSent)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.IgnoreWarning)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IgnoreWarning)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.IgnoreOverdue)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IgnoreOverdue)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.MaintenanceID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
